<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxin.onestopprocurementbackoffice.mapper.CartCustomMapper" >
  <resultMap id="BaseResultMap" type="com.huaxin.onestopprocurementbackoffice.po.CartCustom" >
    <result column="user-id" property="userId" jdbcType="INTEGER" />
    <result column="item-id" property="itemId" jdbcType="BIGINT" />
    <result column="item-numble" property="itemNumble" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    `user-id`, `item-id`, `item-numble`
  </sql>
  <select id="selectCartByuserId" resultMap="BaseResultMap" parameterType="com.huaxin.onestopprocurementbackoffice.po.UserCustom" >
    select
    <include refid="Base_Column_List" />
    from `cart` where user-id="${userId}"
  </select>
</mapper>